@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Heebo:wght@500&family=Roboto&display=swap');

.full {
    min-height: 100vh;
    padding: 10px 260px;

}

.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_icon {
    display: flex;
    gap: 30px;
}

.ul {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #090909;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.navbar_icon_right {
    display: flex;
    gap: 30px;
}

.btn {
    background-color: #FF9C08;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 30px;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.main_texts {
    width: 330px;
    margin-top: 150px;
}

.main_text_big {
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 32px;
    color: #090909;
    line-height: 40px;
    margin: 10px 0px;
}

.main_text_small {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    line-height: 20px;
    color: #6E6E6E;
    font-size: 14px;
}

.main_btns {
    margin-top: 30px;
}

.main_btn {
    background-color: #FF9C08;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    color: #090909;
    font-family: 'DM Sans', sans-serif;
}

.main_btn_second {
    border: 1px solid #F0ECE8;
    background-color: white;
    color: #090909;
    font-family: 'DM Sans', sans-serif;
    width: 150px;
    height: 40px;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin: 100px;
    margin: 100px -50px;
}

.footer_num {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #090909;
    letter-spacing: 3px;
}

.footer_second {
    margin-top: 100px;
}

.footer_second_cards {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer_second_first_card {
    display: flex;
    flex-direction: column;
    width: 410px;
}

.about {
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    color: #FF9C08;
    font-weight: 400;
}

.footer_second_big_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 28px;
    color: #090909;
    line-height: 40px;
    margin: 10px 0px;
}

.footer_second_img_first {
    width: 400px;
    margin: 20px 0px;
}

.footer_second_second_card {
    margin-top: 10px;
    width: 410px;
}

.footer_second_btns {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.ptichka {
    margin-top: 10px;
}

.ptichka_child {
    display: flex;
    align-items: center;
}

.ptichka_text {
    color: #090909;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    margin: 10px;
}

.footer_text_small {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    line-height: 20px;
    color: #6E6E6E;
    font-size: 14px;
    margin-top: 20px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.parent_icon {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}

.third_footer {
    width: 350px;
    margin-top: 100px;
}

.third_footer_parent {
    display: flex;
    justify-content: space-between;
    margin: 200px 0px;
}

.last_footer {
    margin: 100px 0px;
    background-color: #FFD4A4;
    text-align: center;
    padding: 150px;
}

.last_text {
    color: #090909;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;

}

.last_btn {
    background-color: #090909;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 50px;
}

.last_text_big {
    font-family: 'Roboto', sans-serif;
    font-weight: 700px;
    font-size: 20px;
    color: #090909;
    line-height: 40px;
    margin: 10px 0px;
}

.last_text_card {
    width: 400px;
}

.last_textt {
    display: flex;
    gap: 20px;
    margin-top: 230px;
}

.big_img {
    position: absolute;
    width: 650px;
    display: flex;
    justify-content: center;
    margin-left: -55px;
}